version: 0.57.0
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - callMetadata

streams:
  # Call metadata stream - PRIMARY incremental stream
  - type: DeclarativeStream
    name: callMetadata
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        properties:
          id:
            type: string
          calendarEventId:
            type:
              - 'null'
              - string
          direction:
            type: string
          duration:
            type: number
          isPrivate:
            type: boolean
          language:
            type: string
          media:
            type: string
          meetingUrl:
            type: string
          primaryUserId:
            type: string
          scheduled:
            type: string
          scope:
            type: string
          started:
            type: string
            description: ISO 8601 datetime - cursor for incremental sync
          system:
            type: string
          title:
            type: string
          url:
            type: string
          workspaceId:
            type: string
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: '{{ config["api_base_url"] }}'
        path: /v2/calls
        http_method: GET
        request_parameters:
          fromDateTime: '{{ config["start_date"] }}'
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config["api_key"] }}'
        request_body_json: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - calls
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: cursor
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.records.cursor }}'
          stop_condition: '{{ not response.records.cursor }}'
    # Incremental sync on started field with 1-day lookback
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: started
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%S.%f%z'
        - '%Y-%m-%dT%H:%M:%S%z'
      datetime_format: '%Y-%m-%dT%H:%M:%S%z'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config["start_date"] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      lookback_window: P1D

  # Transcripts stream - fetches transcripts for NEW calls only
  - type: DeclarativeStream
    name: transcripts
    primary_key:
      - callId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        properties:
          callId:
            type: string
            description: Gong's unique identifier for the call
          transcript:
            type: array
            description: List of monologues in the call
            items:
              type: object
              properties:
                speakerId:
                  type: string
                  description: Unique ID of the speaker
                topic:
                  type:
                    - 'null'
                    - string
                  description: The name of the topic
                sentences:
                  type: array
                  description: List of sentences spoken in the monologue
                  items:
                    type: object
                    properties:
                      start:
                        type: number
                        description: Start time in milliseconds
                      end:
                        type: number
                        description: End time in milliseconds
                      text:
                        type: string
                        description: The spoken text
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: '{{ config["api_base_url"] }}'
        path: /v2/calls/transcript
        http_method: POST
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config["api_key"] }}'
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
        # Request body with specific callIds from parent stream
        request_body_json:
          filter:
            callIds: 
              - '{{ stream_partition.parent_id }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - callTranscripts
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.records.cursor }}'
          stop_condition: '{{ not response.records.cursor }}'
      # Partition by parent callMetadata - fetches transcript per call
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: '#/streams/0'  # callMetadata
              incremental_dependency: true

  # Flattened sentences stream - fetches for NEW calls only
  - type: DeclarativeStream
    name: sentences
    primary_key:
      - callId
      - monologue_index
      - sentence_index
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        properties:
          callId:
            type: string
            description: Gong's unique identifier for the call
          speakerId:
            type: string
            description: Unique ID of the speaker
          topic:
            type:
              - 'null'
              - string
            description: The name of the topic for this monologue
          monologue_index:
            type: integer
            description: Index of the monologue within the call (0-based)
          sentence_index:
            type: integer
            description: Index of the sentence within the monologue (0-based)
          start:
            type: number
            description: Start time in milliseconds
          end:
            type: number
            description: End time in milliseconds
          duration_ms:
            type: number
            description: Duration of the sentence in milliseconds
          text:
            type: string
            description: The spoken text
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: '{{ config["api_base_url"] }}'
        path: /v2/calls/transcript
        http_method: POST
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config["api_key"] }}'
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
        # Request body with specific callIds from parent stream
        request_body_json:
          filter:
            callIds:
              - '{{ stream_partition.parent_id }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - callTranscripts
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.records.cursor }}'
          stop_condition: '{{ not response.records.cursor }}'
      # Partition by parent callMetadata - fetches transcript per call
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: '#/streams/0'  # callMetadata
              incremental_dependency: true
      # Transform into flattened sentences
      record_transformation:
        type: CustomRecordExtractor
        class_name: source_gong_transcripts.components.SentenceExtractor

  # Users stream
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        properties:
          id:
            type: string
          active:
            type: boolean
          created:
            type: string
          emailAddress:
            type: string
          emailAliases:
            type: array
            items:
              type: string
          firstName:
            type: string
          lastName:
            type: string
          personalMeetingUrls:
            type: array
            items:
              type: string
          settings:
            type: object
            properties:
              emailsImported:
                type: boolean
              gongConnectEnabled:
                type: boolean
              nonRecordedMeetingsImported:
                type: boolean
              preventEmailImport:
                type: boolean
              preventWebConferenceRecording:
                type: boolean
              telephonyCallsImported:
                type: boolean
              webConferencesRecorded:
                type: boolean
          spokenLanguages:
            type: array
            items:
              type: object
              properties:
                language:
                  type: string
                primary:
                  type: boolean
          title:
            type:
              - 'null'
              - string
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: '{{ config["api_base_url"] }}'
        path: /v2/users
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config["api_key"] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: cursor
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.records.cursor }}'
          stop_condition: '{{ not response.records.cursor }}'

spec:
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - start_date
      - api_key
      - api_base_url
    additionalProperties: true
    properties:
      api_base_url:
        type: string
        title: API Base URL
        description: Base URL for Gong API (e.g., https://api.gong.io or https://us-12345.api.gong.io)
        examples:
          - "https://api.gong.io"
          - "https://us-12345.api.gong.io"
        order: 0
      api_key:
        type: string
        title: API Key
        description: Gong API access token
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Start date
        description: Start date for initial sync (ISO-8601 format). After first sync, only fetches calls since last cursor (minus 1 day lookback).
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2024-01-01T00:00:00Z"
        order: 2

metadata:
  autoImportSchema:
    callMetadata: true
    transcripts: true
    sentences: true
    users: true